:root {
  --body-border-width: 0.5rem;
  --body-padding: 0.5rem;
  --color-text: #1c1b1a;
  --color-link: black;
  --color-title: black;
  --color-bg: #94dcff;
  --color-emphasis-text: #ffa8ee;
  --color-emphasis-bg: #00008b;
  --color-link-hover-text: var(--color-emphasis-text);
  --color-link-hover-bg: var(--color-emphasis-bg);
  --color-input-bg: white;
  --color-input-text: var(--color-text);
  --color-error: #ffa8ee;
  --separator-bg: #7fffd4;
  --separator-color: #0A3BC5;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: #f1f4f7;
    --color-link: white;
    --color-title: white;
    --color-bg: #1c1b1a;
    --color-emphasis-text: #00008b;
    --color-emphasis-bg: #ffa8ee;
    --color-link-hover-text: var(--color-emphasis-text);
    --color-link-hover-bg: var(--color-emphasis-bg);
    --color-input-bg: var(--color-bg);
    --color-input-text: var(--color-text);
    --color-error: #590461;
    --separator-bg: #0A3BC5;
    --separator-bg: #01818E;
    --separator-bg: #164E80;
    --separator-color: #94dcff;
  }
}
@media screen and (min-width: 800px) {
  :root {
    --body-border-width: 1rem;
    --body-padding: 1rem;
  }
}

noscript * {
  margin: 0;
  padding: 0;
}
noscript {
  display: block;
  margin: -1rem;
  margin-bottom: 1rem;
}
noscript, .error {
  background-color: var(--color-error);
  border: 0.5rem solid white;
  padding: 1rem;
}

.error-icon {
  color: red;
  font-weight: bold;
  padding-right: 0.25em;
}

html {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: var(--body-border-width) ridge #eedbc2;
  margin: 0;
  padding: var(--body-padding);
  min-height: calc(100vh - 4rem);
  font-size: 1.2em;
  line-height: 1.6;
  word-break: break-word;
}

::selection {
  color: var(--color-emphasis-text);
  background-color: var(--color-emphasis-bg);
}

a, .result-list dd em {
  /* color: #7A0060; */
  color: var(--color-link);
  display: inline-block;
  position: relative;
  z-index: 1;
}
a:hover, a:focus, .result-list dd em {
  color: var(--color-link-hover-text);
}
a:hover::selection, a:focus::selection, .result-list dd em::selection {
  background-color: var(--color-link-hover-text);
  color: var(--color-link-hover-bg);
}
a:hover::before, a:focus::before, .result-list dd em::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25rem;
  right: -0.25rem;
  background-color: var(--color-link-hover-bg);
  padding: 2px 6px;
}

.results.is-loading {
  opacity: 0.6;
}

main {
  margin: 1rem 0;
  padding: 0;
}

.hr {
  background-color: var(--separator-bg);
  color: var(--separator-color);
  border: 0.5rem double;
  border-left: none;
  border-right: none;
  height: 2rem;
  margin: 1rem calc(-1 * var(--body-padding));
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  .collapse-when-wide-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .collapse-when-wide {
    flex-shrink: 4;
  }

  .collapse-when-wide:first-child {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
    margin-right: 1rem;
  }

  .collapse-when-wide + .hr {
    visibility: hidden;
    width: 0.5rem;
    margin: 0 1rem;
    padding: 0;
  }
}

@media screen and (min-width: 1050px) {
  .collapse-when-wide + .hr {
    width: 1rem;
    margin: 0 2rem;
  }
}

article footer {
  font-size: smaller;
}

.page-title {
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 1.2;
  color: var(--color-title);
}

.page-description {
  font-size: smaller;
}

input[type=text],
button[type=submit] {
  font-size: smaller;
}
input[type=text] {
  height: 2em;
  text-transform: uppercase;
  border-radius: 0.25em;
  border-style: solid;
  border-color: var(--separator-color);
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
  padding: 0 0.25rem;
}

.submit-wrapper {
  position: relative;
}
.submit-wrapper .loading-progress {
  position: absolute;
}

.result-list {
  margin: 1rem 0 2rem;
}

.result-list dt {
  color: var(--color-title);
  font-size: larger;
  font-weight: bold;
  margin-top: 1rem;
  text-decoration: underline;
}

.result-list dd em {
  font-style: normal;
  margin: 0 0.25em;
}
